header{
  background-color: #27a1c5;
  border-radius: 10px;
  text-align: center;
  font-family:courier;
}

h2{
  font-family: courier, sans-serif;
  color:#27a1c5;
  background-color: #2d3033;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 0;
  clear:both;
}

section, footer {
  width:75%;
  margin: 0 auto;
  text-align:justify;
}

.robot{
  text-align: center;
}

.robot img{
  height: 100px;
  /*float: left;*/
  padding:20px;

}

.histoire, .robot {
  display: inline-block;
  vertical-align: middle;
}

.histoire {
  width: 75%;

}

a {
  text-decoration: none;
  color:#27a1c5;
  font-style: italic;

}

a:hover {
  color:#2d3033;

}

.code {
  font-style: italic;
  background-color: black;
  width: 180px;
  color:White;

}

ul {
  list-style-type: none;

}

iframe {
    display:block;
    margin: 0 auto;
}

/* ANIMATIONS */
article, footer {
  height: 35px;
  overflow: hidden;
  margin-bottom: 15px;
}

article:hover, footer:hover {
  cursor: pointer;
  height: auto;
  overflow: visible;
}

article:active, footer:active {
  height: auto;
  overflow: visible;
}

article:focus, footer:focus {
  height: auto;
  overflow: visible; 
}