h2{
  color:#27a1c5;
  background-color: #2d3033;
}

header{
  background-color: #27a1c5;
  border-radius: 10px;
  text-align: center;
  font-family:courier;
}

.robot{
  text-align: center;
}

.robot img{
  height: 100px;

}

a{
  text-decoration: none;

}

.code{
  font-style: italic;
  background-color: black;
  width: 200px;
  color:White;

}
